.container-all-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-p {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container-skills {
    max-width: 48rem;
}

.text-skills {
    max-width: 48rem;
}